
@model Tuple<List<ReportOfChanges>, string, string>
@{
    var parms = new Dictionary<string, string>
{
                { "shopId", Model.Item2 },
                { "inventoryId", Model.Item3 }
            };
}
<button class="btn btn-primary"id="accept">Generuj Raport</button>
<a role="button" class="btn btn-primary disabled edit" asp-action="ChangeStock" asp-all-route-data="parms">Przystąp do zmiany stanów magazynowych</a>

<table id="items" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Akceptuj zmianę</th>
            <th>Id produktu</th>
            <th>SKU</th>
            <th>Różnica</th>
            <th>Stan faktyczny</th>
            <th>Tytuł oferty</th>
        </tr>
    </thead>
    <tbody class="table-striped">
        @foreach (ReportOfChanges reportOfChanges in Model.Item1)
        {
            <tr>
                <td>
                    @if (@reportOfChanges.difference_of_stock == 0)
                    {
                        reportOfChanges.accepted = false;
                    }
                    <input asp-for="@reportOfChanges.accepted" />
                </td>
                <td class="id"> @reportOfChanges.product_id</td>
                <td class="sku">@reportOfChanges.sku.Trim(' ')</td>
                @if (reportOfChanges.difference_of_stock > 0)
                {
                    <td class="difference_of_stock">@reportOfChanges.difference_of_stock</td>
                }
                else if (@reportOfChanges.difference_of_stock == 0)
                {
                    <td class="difference_of_stock">@reportOfChanges.difference_of_stock</td>
                }
                else
                {
                    <td class="difference_of_stock">@reportOfChanges.difference_of_stock</td>
                }
                <td class="realStock">@reportOfChanges.realStock</td>
                <td class="name">@reportOfChanges.name</td>
            </tr>

        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/ReadTable.js" type="text/javascript"></script>

}
@section Items{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Wyloguj</a>
    </li>
}